.body{
    font-family: Arial, Helvetica, sans-serif;
    
}
h1{
    margin: 2vw;
}
h2{
    margin: 2vw;
}
form{
    margin-left: 2vw;
}
input[type=name]{
    display:flex;
    margin: 2px;
    flex-direction: column;

}
input[type=set]{
    display:flex;
    margin: 2px;
    flex-direction: column;

}
input[type=student]{
    display:flex;
    margin: 2px;
    flex-direction: column;

}
input[type=email]{
    display:flex;
    margin: 2px;
    flex-direction: column;

}

select{
    margin: 2vw;
}